<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beanFail.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{181,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,232}}</string>
                <key>sourceSize</key>
                <string>{181,232}</string>
            </dict>
            <key>beanNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{161,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,215}}</string>
                <key>sourceSize</key>
                <string>{161,215}</string>
            </dict>
            <key>beanSucc.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,758},{182,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,230}}</string>
                <key>sourceSize</key>
                <string>{182,230}</string>
            </dict>
            <key>checkGreenFail.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,467},{180,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,229}}</string>
                <key>sourceSize</key>
                <string>{180,229}</string>
            </dict>
            <key>checkGreenNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,351},{184,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,211}}</string>
                <key>sourceSize</key>
                <string>{184,211}</string>
            </dict>
            <key>checkGreenSucc.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{204,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,229}}</string>
                <key>sourceSize</key>
                <string>{204,229}</string>
            </dict>
            <key>checkWhiteFail.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,698},{179,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,229}}</string>
                <key>sourceSize</key>
                <string>{179,229}</string>
            </dict>
            <key>checkWhiteNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,165},{184,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,212}}</string>
                <key>sourceSize</key>
                <string>{184,212}</string>
            </dict>
            <key>checkWhiteSucc.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,236},{204,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,229}}</string>
                <key>sourceSize</key>
                <string>{204,229}</string>
            </dict>
            <key>monkeyBlackFail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{174,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,251}}</string>
                <key>sourceSize</key>
                <string>{174,251}</string>
            </dict>
            <key>monkeyBlackNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,233},{150,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,222}}</string>
                <key>sourceSize</key>
                <string>{150,222}</string>
            </dict>
            <key>monkeyBlackSucc.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,255},{183,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,248}}</string>
                <key>sourceSize</key>
                <string>{183,248}</string>
            </dict>
            <key>monkeyRedFail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{173,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,251}}</string>
                <key>sourceSize</key>
                <string>{173,251}</string>
            </dict>
            <key>monkeyRedNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{149,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,222}}</string>
                <key>sourceSize</key>
                <string>{149,222}</string>
            </dict>
            <key>monkeyRedSucc.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,508},{184,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,248}}</string>
                <key>sourceSize</key>
                <string>{184,248}</string>
            </dict>
            <key>starLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,929},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>starRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,929},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>tofuFail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,761},{183,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,249}}</string>
                <key>sourceSize</key>
                <string>{183,249}</string>
            </dict>
            <key>tofuNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,467},{163,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,229}}</string>
                <key>sourceSize</key>
                <string>{163,229}</string>
            </dict>
            <key>tofuSucc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,251}}</string>
                <key>sourceSize</key>
                <string>{184,251}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>objects.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8964ce2abd1bc1ba57a2bced44ff0bb$</string>
            <key>textureFileName</key>
            <string>objects.png</string>
        </dict>
    </dict>
</plist>
