<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>startButton.png</key>
			<dict>
				<key>width</key>
				<integer>443</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>443</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>leftNormal.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>132</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>leftTouch.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>202</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>304</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>rightNormal.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>172</integer>
				<key>y</key>
				<integer>132</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>rightTouch.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>204</integer>
				<key>y</key>
				<integer>304</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sunNormal.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>103</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>344</integer>
				<key>y</key>
				<integer>132</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sunPower.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>445</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>clock.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>551</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>timeBar.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>191</integer>
				<key>originalHeight</key>
				<integer>17</integer>
				<key>x</key>
				<integer>445</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>timeProgress.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>14</integer>
				<key>originalWidth</key>
				<integer>188</integer>
				<key>originalHeight</key>
				<integer>14</integer>
				<key>x</key>
				<integer>344</integer>
				<key>y</key>
				<integer>237</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>whistle.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>449</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>powerBar.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>191</integer>
				<key>originalHeight</key>
				<integer>17</integer>
				<key>x</key>
				<integer>551</integer>
				<key>y</key>
				<integer>45</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>powerProgress.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>14</integer>
				<key>originalWidth</key>
				<integer>188</integer>
				<key>originalHeight</key>
				<integer>14</integer>
				<key>x</key>
				<integer>344</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>btnRule.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>188</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>502</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>btnAgain.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>188</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>409</integer>
				<key>y</key>
				<integer>269</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>txtSend1.png</key>
			<dict>
				<key>width</key>
				<integer>340</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>340</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>409</integer>
				<key>y</key>
				<integer>377</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>txtSend2.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>364</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>409</integer>
				<key>y</key>
				<integer>427</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>txtSend3.png</key>
			<dict>
				<key>width</key>
				<integer>264</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>264</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>744</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>txtSend4.png</key>
			<dict>
				<key>width</key>
				<integer>318</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>692</integer>
				<key>y</key>
				<integer>64</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>txtSend5.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>599</integer>
				<key>y</key>
				<integer>232</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>btnSend1.png</key>
			<dict>
				<key>width</key>
				<integer>324</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>324</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>725</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>btnSend2.png</key>
			<dict>
				<key>width</key>
				<integer>324</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>324</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>725</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>btnSend3.png</key>
			<dict>
				<key>width</key>
				<integer>324</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>324</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>725</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>btnSend4.png</key>
			<dict>
				<key>width</key>
				<integer>324</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>324</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>725</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>btnSend5.png</key>
			<dict>
				<key>width</key>
				<integer>324</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>324</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>725</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>moreGame.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>171</integer>
				<key>originalHeight</key>
				<integer>126</integer>
				<key>x</key>
				<integer>326</integer>
				<key>y</key>
				<integer>509</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>gameUI0.png</string>
			<key>realTextureFileName</key>
			<string>gameUI0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>