<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{621,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,286}}</string>
                <key>sourceSize</key>
                <string>{621,286}</string>
            </dict>
            <key>girlFail.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,549},{110,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,149}}</string>
                <key>sourceSize</key>
                <string>{110,149}</string>
            </dict>
            <key>girlNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,467},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>girlSucc.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,355},{110,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,156}}</string>
                <key>sourceSize</key>
                <string>{110,156}</string>
            </dict>
            <key>grassBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,710}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,710}}</string>
                <key>sourceSize</key>
                <string>{640,710}</string>
            </dict>
            <key>monkeyLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,452},{95,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,112}}</string>
                <key>sourceSize</key>
                <string>{95,112}</string>
            </dict>
            <key>monkeyNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,129},{80,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,113}}</string>
                <key>sourceSize</key>
                <string>{80,113}</string>
            </dict>
            <key>monkeyRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,355},{95,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,114}}</string>
                <key>sourceSize</key>
                <string>{95,114}</string>
            </dict>
            <key>txtCombo.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,129},{236,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,76}}</string>
                <key>sourceSize</key>
                <string>{236,76}</string>
            </dict>
            <key>txtReady.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,714},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>txtStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,244},{318,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,109}}</string>
                <key>sourceSize</key>
                <string>{318,109}</string>
            </dict>
            <key>txtTimesup.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{359,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,125}}</string>
                <key>sourceSize</key>
                <string>{359,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>terrain.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8967b0625b20d0765d553a84500deaa8$</string>
            <key>textureFileName</key>
            <string>terrain.png</string>
        </dict>
    </dict>
</plist>
